.data-bar {
  flex-wrap: nowrap;
  width: 100%;
  div {
    flex-wrap: nowrap;
    border-left: 1px solid $event-border-color;
    font-size: 17px;
    min-width: 85px;
    padding: 10px;
    * {
      margin-right: 8px;
    }
  }
  &.normal {
    @include flex-display(flex, row, center, center);

    div {
      margin-right: 10px;
      display: flex;
      align-items: center;
      padding: 8px 15px;
      &:first-child {
        flex: 1;
        + div {
          min-width: 60px;
        }
      }
    }
  }
  &.footer {
    display: inline-flex;
    height: fit-content;
    margin-bottom: -10px;
    box-shadow: 2px -2px 10px rgba(128, 128, 128, 0.492);
    // border-top-right-radius: 10px;
    // border-top-left-radius: 10px;
    align-self: self-end;
    background: $bg-linear-blue;
    color: white;
    justify-content: center;
    @include absolute-center(x);
    div {
      border-top: 1px solid $event-border-color;
      line-height: 1;

      display: inline-flex;
      &:last-child {
        border-top-right-radius: 10px;
        border-right: 1px solid $event-border-color;
        border-right: none;
      }
      &:first-child {
        border-left: none;
        border-top-left-radius: 10px;
        font-weight: bolder;
      }
    }
  }
}
