header {
  position: fixed;
  top: 0;
  border: 0.2em solid rgb(0 0 0 / 67%);
  border-top: none;
  background: $bg-linear-blue;
  box-shadow: 0 5px 15px #80808087;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  border-bottom-left-radius: 15% 100px;
  border-bottom-right-radius: 15% 100px;
  width: 100%;
  max-width: 1200px;

  svg {
    margin-left: 10px;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  .header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 60px 15px 60px;
    width: 100%;
    gap: 30px;
    svg {
      width: 28px;
      height: 28px;
    }
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 12px;
    svg {
      width: 36px;
      height: 36px;
    }
  }
  @media screen and (max-width: 1024px) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left: none;
    border-right: none;
    .header-wrap {
      padding: 10px 30px;
    }
  }
}
