// top 3 items animations

@each $key, $value in $rank-content {
  @keyframes appear#{$key} {
    0% {
      opacity: 0;
      // transform: translate(0, -50px) scale(0.8);
      transform: perspective(150px) translateX(0px) rotateX(180deg) scale(0.8);
    }
    75% {
      transform: map.get($value, transform) scale(1.55);
    }
    100% {
      opacity: 1;
      // transform: translate(0, 0) scale(1);
      transform: perspective(150px) translateX(0px) rotateX(0) scale(1);
    }
  }
}

//list item animations
@keyframes appear-left {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
//to delay scroll bar appearence until list animation is finished
@keyframes delay-overflow {
  to {
    overflow: auto;
  }
}

@keyframes appear-top {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
