//map values to flex order top 3 items
$rank-content: (
  1: (
    order: 2,
    z-index: 1,
    margin-top: -70px,
    delay: 0.01s,
    transform:translateX(0)
  ),
  2: (
    order: 1,
    z-index: 2,
    margin-top: -40px,
    delay: 0.6s,
    transform:translateX(-150px)
  ),
  3: (
    order: 3,
    z-index: 3,
    margin-top: -15px,
    delay: 1s,
    transform:translateX(150px)
  )
);
