.wrapper {
  .container {
    h2 {
      text-align: center;
      margin-bottom: 10px;
    }
    hr {
      margin-bottom: 30px;
    }
    padding: 20px;
    width: 960px;
    margin: 80px auto 0 auto;
    &-top {
      hr {
        margin-bottom: 100px;
      }
      ul {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        li {
          opacity: 0;

          @each $rank, $content in $rank-content {
            
            &.rank#{$rank} {
              animation: appear#{$rank} .9s ease-in-out forwards;
              order: map.get($content, order);
              z-index: map.get($content, z-index);
              margin-top: map.get($content, margin-top);
              animation-delay: map.get($content, delay);
              
            }
          }
        }
      }
    }

    .container-scroll {
      overflow: hidden;
      animation-name: delay-overflow;
      animation-delay: 2s;
      animation-fill-mode: forwards;

      height: calc(100vh - 500px);
      ul {
        margin-right: 10px;
        li {
          opacity: 0;
          animation: appear-left 0.3s ease-out forwards;
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 8px;
        background-color: #ebebeb;
        border: 1px solid #cacaca;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: $bg-linear-blue;
      }
    }
    .card {
      display: flex;
      position: relative;
      background: rgb(242, 242, 242);

      padding: 5px;
      border-radius: 10px;
      border: 1px solid rgba(175, 175, 175, 0.693);
      box-shadow: 0 0 10px rgba(128, 128, 128, 0.532);
      margin-bottom: 10px;
      overflow: hidden;
      &-rank {
        padding: 0px;
        box-shadow: none;
      }
      &-no {
        width: 40px;
        @include flex-display(flex, row, center, center);
        color: black;
        text-shadow: 0 0 8px #929292;
        font-weight: 600;
        background: white;
      }

      &-top {
        margin-bottom: 20px;
        box-shadow: 0 0 15px rgba(128, 128, 128, 0.532);
        padding: 10px;
        height: 140px;
        width: 290px;
        background: linear-gradient(337deg, rgb(211 235 255) 0%, rgb(255, 255, 255) 100%);
      }

      .spacer {
        flex: 1;
      }
    }

    ul {
      list-style-type: none;
      padding-left: 0;
    }
  }
}
